<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration>

<configuration>

    <include resource="org/springframework/boot/logging/logback/base.xml"/>

    <!-- <springProperty scope="context" name="springAppName" source="spring.application.name"/> -->
    <property name="springAppName" value="vezba"/>

    <property name="maxFileSize" value="100MB"/>
    <property name="maxHistory" value="2"/>
    <property name="folder" value="logs/${springAppName}"/>
    <property name="baseFileName" value="vezba"/>

    <property name="FILE_LOG_PATTERN"
              value="[%X{requestId}] %d{yyyy-MM-dd HH:mm:ss.SSS} ${LOG_LEVEL_PATTERN:-%5p} ${PID:- } [%15.15t] %-40.40logger{39} %m%n${LOG_EXCEPTION_CONVERSION_WORD:-%wEx}"/>

    <appender name="FILE_SERVICE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${folder}/${baseFileName}-service.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${folder}/${baseFileName}-service-%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE_LOGGING_FILTER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${folder}/${baseFileName}-logging_filter.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${folder}/${baseFileName}-logging_filter-%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>
    
    <appender name="FILE_BASE_RESOURCES" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${folder}/${baseFileName}-base_resource.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <fileNamePattern>${folder}/${baseFileName}-base_resource-%d{yyyy-MM-dd}_%i.log</fileNamePattern>
            <timeBasedFileNamingAndTriggeringPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
                <maxFileSize>${maxFileSize}</maxFileSize>
            </timeBasedFileNamingAndTriggeringPolicy>
            <maxHistory>${maxHistory}</maxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>${FILE_LOG_PATTERN}</pattern>
        </encoder>
    </appender>


    <logger name="it.eng.petarrelic.vezba.service" level="ALL" additivity="true">
        <appender-ref ref="FILE_SERVICE"/>
    </logger>
    
    <logger name="it.eng.petarrelic.vezba.web.filter.LoggingFilter" level="ALL" additivity="true">
        <appender-ref ref="FILE_LOGGING_FILTER"/>
    </logger>
    
     <logger name="it.eng.petarrelic.vezba.resource.BaseResource" level="ALL" additivity="true">
        <appender-ref ref="FILE_BASE_RESOURCES"/>
    </logger>


    <root level="INFO"></root>

</configuration>